<% provide(:title, t('app.titles.about')) %>
<h1><%= t('app.titles.about') %></h1>
<p>
    For the current being, we have collected some of the things
    from the four teaching building and the library,
    with cell phones, U-disks, school cards, keys and some other included.
</p>
<p>
    If you find anything, you can post it here to help others.
    Just notice that you should be honest, do not play jokes.
    Thank you for your coperation :)
</p>