<% provide(:title, t('app.titles.contact')) %>
<div class="container">
  <h1><%= t('app.titles.contact') %></h1>
  <p>
    If you have any problem or suggestions,
    please contact our
    <a href="mailto:whyisyoung@icloud.com">
      lost-and-found groups
    </a>.
  </p>
</div>