<% provide(:title, t('app.titles.help')) %>
<h1>Help</h1>
<p>
    We collect lost items and tagged them with mobile,card,u-disk,key and other.
    When you post new lost_items, please select a proper tag. <br />
    The source code of this application can be avaliable at
    <a href="https://github.com/linus-young/LostAndFound">github page</a>.
</p>