<div class="center hero-unit">
	<h1>Welcome to Lost and Found</h1>
	<p>
		This is the home page for ECNU lost and found application.
	</p>
	<%= link_to "Sign up now!", register_path,
                              class: "btn btn-large btn-primary" %>
</div>

<%= image_tag( "logo.jpg", alt: "Logo") %>
