<li>
  <span class="detail">
    <%=  link_to(lost_item.detail, user_lost_item_path(@user, lost_item)) %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(lost_item.created_at) %>前发布.
  </span>
  <% if current_signed_in_user?(lost_item.user) or
        current_signed_in_user.admin? %>
    <%= link_to t('app.link.edit'), edit_user_lost_item_path(@user, lost_item) %> |
    <%= link_to t('app.link.delete'), [@user, lost_item], method: :delete,
                          data: { confirm: "You sure?" },
                          title: lost_item.detail %>
  <% end %>
</li>