<% provide(:title, 'Edit Lost Item') %>
<h1>Editing lost_item</h1>

<div class="row">
  <div class="span6 offset3">
		<%= render 'form' %>

		<%= link_to 'Show', user_lost_item_path( @user, @lost_item ) %> |
		<%= link_to 'Back', user_path(@user) %>
	</div>
</div>
