<footer class="footer">
    <small>
        <%= t('app.footer.support') %>
    </small>
    <nav>
        <ul>
            <li><%= link_to t('app.nav.about'),   about_path %></li>
            <li><%= link_to t('app.nav.contact'), contact_path %></li>
        </ul>
    </nav>
</footer>